<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-content>
          El objetivo de esta página es preguntar al usuario que tipo de medios de contacto ofrece para que la gente contacte con ellos.

          Un mini texto tipo: 
          <p>
          {{ this.$S_i18n.t("APP_ADD_SITE_FORM_CONTACT_INTRO") }}
          </p>

          <div class="md-layout">
            <div class="md-layout-item md-small-size-100 md-size-33">
              <md-checkbox v-model="isDPO">
                DPO?
              </md-checkbox>
            </div>
            <div
              class="md-layout-item md-small-size-100 md-size-33"
              v-if="isDPO"
            >
              <md-field>
                <label>
                  DPO email
                </label>
                <md-input
                  v-model="DPO_email"
                  @focus.native="update_info"
                ></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-33">
              <md-checkbox v-model="isContact">
                {{ this.$S_i18n.t("APP_ADD_SITE_FORM_CONTACT_CONTACT") }}
              </md-checkbox>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-33">
              <md-checkbox v-model="isNewslettet">
                {{ this.$S_i18n.t("APP_ADD_SITE_FORM_CONTACT_NEWSLETTER") }}
              </md-checkbox>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-33">
              <md-checkbox v-model="isComment">
                {{ this.$S_i18n.t("APP_ADD_SITE_FORM_CONTACT_COMMENT") }}
              </md-checkbox>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-33">
              <md-checkbox v-model="isLiveChat">
                {{ this.$S_i18n.t("APP_ADD_SITE_FORM_CONTACT_LIVE_CHAT") }}
              </md-checkbox>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-33">
              <md-checkbox v-model="isRegsiter">
                {{ this.$S_i18n.t("APP_ADD_SITE_FORM_CONTACT_REGSITER") }}
              </md-checkbox>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-33">
              <md-checkbox v-model="isLogin">
                {{ this.$S_i18n.t("APP_ADD_SITE_FORM_CONTACT_LOGIN") }}
              </md-checkbox>
            </div>
            <div
              class="md-layout-item md-small-size-100 md-size-33"
              v-if="category_status == 'ecommerce'"
            >
              <md-checkbox v-model="isBuyAsGuest">
                Buy as guest?
              </md-checkbox>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "contact",
  props: ["category_status"],
  data() {
    return {
      isDPO: false,
      isContact: false,
      isNewslettet: false,
      isComment: false,
      isLiveChat: false,
      isRegsiter: false,
      isLogin: false,
      isBuyAsGuest: false,
      entity: false,
      DPO_email: null
    };
  },
  methods: {
    update_info: function(items) {
      // console.log(items);
    }
  }
};
</script>
