<template>
  <div class="md-layout">
    <div class="md-layout-item">
      <div>
        <md-radio class="md-primary" v-model="category_status" value="web">
          {{ this.$S_i18n.t("APP_ADD_SITE_SITE_WEB") }}
        </md-radio>
        <md-radio
          v-model="category_status"
          value="ecommerce"
          class="md-warning"
        >
          {{ this.$S_i18n.t("APP_ADD_SITE_SITE_ECOMMERCE") }}
        </md-radio>
        <md-button
          class="md-warning md-round float-right"
          @click="RetrunToPreviousPage()"
          >Return</md-button
        >
      </div>
      <tabs
        :tab-active="1"
        :tab-name="[tabs_names[0],
                    tabs_names[1],
                    tabs_names[2],
                    tabs_names[3],
                    tabs_names[4]]"
        plain
        color-button="warning"
      >
        <template :slot=tabs_names[0]>
          <general :category_status="category_status" />
        </template>
        <template :slot=tabs_names[1]>
          <contact :category_status="category_status" />
        </template>
        <template :slot=tabs_names[2]>
          <cookies />
        </template>
        <template :slot=tabs_names[3] v-if="category_status == 'ecommerce'">
          <payments />
        </template>
        <template :slot=tabs_names[4] v-if="category_status == 'ecommerce'">
          <deliveries />
        </template>
      </tabs>
    </div>
  </div>
</template>

<script>
import { Tabs } from "@/components";
import Contact from "./cw_SubSitePage/contact.vue";
import Deliveries from "./cw_SubSitePage/deliveries.vue";
import General from "./cw_SubSitePage/general.vue";
import Payments from "./cw_SubSitePage/payments.vue";
import Cookies from "./cw_SubSitePage/cookies.vue";

export default {
  components: {
    Tabs,
    Contact,
    Deliveries,
    Payments,
    General,
    Cookies,
    General
  },
  props: {
    profileCard: {
      type: String,
      default: "./img/faces/card-profile1-square.jpg"
    }
  },
  data() {
    return {
      tabs_names : [
        this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_TITLE"),
        this.$S_i18n.t("APP_ADD_SITE_FORM_CONTACT_TITLE"),
        this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIES_TITLE"),
        this.$S_i18n.t("APP_ADD_SITE_FORM_PAYMENTS_TITLE"),
        this.$S_i18n.t("APP_ADD_SITE_FORM_DELIVERIES_TITLE"),
        
      ],
      category_status: "web",
      tabsname: [],
      selected: [],
      responsive: false,
      editdata: {}
    };
  },
  methods: {
    onSelect: function(items) {
      this.selected = items;
    },
    onResponsiveInverted() {
      if (window.innerWidth < 768) {
        this.responsive = true;
      } else {
        this.responsive = false;
      }
    },
    RetrunToPreviousPage() {
      this.$router.back();

    }
  },
  mounted() {
    this.editdata = this.$APP_Services.data.EditCurrentData;
    this.onResponsiveInverted();
    window.addEventListener("resize", this.onResponsiveInverted);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResponsiveInverted);
  }
};
</script>

<style lang="css">
.float-right {
  float: right;
}
</style>
