<template>
  <div class="md-layout">
    <div class="md-layout-item">
      <md-button
        class="md-warning md-round float-right"
        @click="requestAddNewSitePage"
      >
        {{ this.$S_i18n.t("APP_ADD_SITE_BUTTON_LABEL")}}
      </md-button>
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">{{ this.$S_i18n.t("APP_MY_SITES_TABLE_TITLE")}}</h4>
        </md-card-header>
        <md-card-content>
          <md-table
            :value="queriedData"
            :md-sort.sync="currentSort"
            :md-sort-order.sync="currentSortOrder"
            :md-sort-fn="customSort"
            class="paginated-table table-striped table-hover"
          >
            <md-table-toolbar>
              <md-field>
                <label for="pages">{{ this.$S_i18n.t("APP_MY_SITES_TABLE_PER_PAGE")}}</label>
                <md-select v-model="pagination.perPage" name="pages">
                  <md-option
                    v-for="item in pagination.perPageOptions"
                    :key="item"
                    :label="item"
                    :value="item"
                  >
                    {{ item }}
                  </md-option>
                </md-select>
              </md-field>

              <md-field>
                <md-input
                  type="search"
                  class="mb-3"
                  clearable
                  style="width: 200px"
                  placeholder="Search records"
                  v-model="searchQuery"
                >
                </md-input>
              </md-field>
            </md-table-toolbar>

            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell :md-label=table_cols[0] md-sort-by="site">
                {{ item.site }}
              </md-table-cell>
              <md-table-cell :md-label=table_cols[1] md-sort-by="upgrade_plan">
                {{ item.upgrade_plan }}
              </md-table-cell>
              <md-table-cell :md-label=table_cols[2]>
                {{ item.url }}
              </md-table-cell>
              <md-table-cell :md-label=table_cols[3]>
                {{ item.dates }}
              </md-table-cell>
              <md-table-cell :md-label=table_cols[4]>
                {{ item.legal }}
              </md-table-cell>
              <md-table-cell :md-label=table_cols[5]>
                {{ item.cookies }}
              </md-table-cell>
              <md-table-cell :md-label=table_cols[6]>
                {{ item.privacy }}
              </md-table-cell>
              <md-table-cell :md-label=table_cols[8]>
                <md-button
                  class="md-just-icon md-warning md-simple"
                  @click.native="handleEdit(item)"
                >
                  <md-icon>edit</md-icon>
                </md-button>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
        <md-card-actions md-alignment="space-between">
          <div class="">
            <p class="card-category">
              {{ this.$S_i18n.t("APP_MY_SITES_TABLE_PAGINATION_FROM")}} {{ from + 1 }} {{ this.$S_i18n.t("APP_MY_SITES_TABLE_PAGINATION_TO")}} {{ to }} {{ this.$S_i18n.t("APP_MY_SITES_TABLE_PAGINATION_TOTAL")}} {{ total }}
            </p>
          </div>
          <pagination
            class="pagination-no-border pagination-warning"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          >
          </pagination>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</template>

<script>
import { Pagination } from "@/components";
import users from "./users";
import Fuse from "fuse.js";
import Swal from "sweetalert2";

export default {
  components: {
    Pagination
  },
  computed: {
    /***
     * Returns a page from the searched data or the whole data. Search is performed in the watch section below
     */
    queriedData() {
      let result = this.tableData;
      if (this.searchedData.length > 0) {
        result = this.searchedData;
      }
      return result.slice(this.from, this.to);
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  },
  data() {
    return {
      caca: "cacacaca",
      currentSort: this.$S_i18n.t("APP_MY_SITES_TABLE_COL_ID"),
      currentSortOrder: "desc",
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      table_cols: [
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_ID"), //0
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_PLAN"),//1
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_DOMAIN"),//2
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_EXPIRY"),//3
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_TEXT_LEGAL"),//4
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_TEXT_COOKIES"),//5
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_TEXT_CGC"),//6
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_TEXT_PRIVACY"),//7
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_EDIT"),//8
      ],
      searchQuery: "",
      propsToSearch: [ this.$S_i18n.t("APP_MY_SITES_TABLE_COL_DOMAIN"),
                       this.$S_i18n.t("APP_MY_SITES_TABLE_COL_PLAN"), 
                       this.$S_i18n.t("APP_MY_SITES_TABLE_COL_DOMAIN"),],
      tableData: users,
      searchedData: [],
      fuseSearch: null
    };
  },
  methods: {
    customSort(value) {
      return value.sort((a, b) => {
        const sortBy = this.currentSort;
        if (this.currentSortOrder === "desc") {
          return a[sortBy].localeCompare(b[sortBy]);
        }
        return b[sortBy].localeCompare(a[sortBy]);
      });
    },
    handleEdit(item) {
      this.$APP_Services.data = {
        EditCurrentData: item
      };
      const reqdata = { title: "RequestAddOrEditSitePage", isEdit: true };
      this.$APP_Services.HANDLE_PAGE_APP_SERVICE(reqdata);
    },
    requestAddNewSitePage() {
      const reqdata = { title: "RequestAddOrEditSitePage", isEdit: false };
      this.$APP_Services.HANDLE_PAGE_APP_SERVICE(reqdata);
    }
  },
  mounted() {
    // Fuse search initialization.
    this.fuseSearch = new Fuse(this.tableData, {
      keys: [this.$S_i18n.t("APP_MY_SITES_TABLE_COL_DOMAIN"),
             this.$S_i18n.t("APP_MY_SITES_TABLE_COL_PLAN")],
      threshold: 0.3
    });
  },
  watch: {
    /**
     * Searches through the table data by a given query.
     * NOTE: If you have a lot of data, it's recommended to do the search on the Server Side and only display the results here.
     * @param value of the query
     */
    searchQuery(value) {
      let result = this.tableData;
      if (value !== "") {
        result = this.fuseSearch.search(this.searchQuery);
      }
      this.searchedData = result;
    }
  }
};
</script>

<style lang="css" scoped>
.md-card .md-card-actions {
  border: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.float-right {
  float: right;
}
</style>
